html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100%;
}

body,
header,
footer,
article,
aside,
main,
section,
figure,
figcaption,
nav {
  display: block;
  position: relative;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: default;
  user-select: none;
  pointer-events: none;
  opacity: .5;
}
