header {
  padding: @gapXL 0;
  margin: 0;
}

footer {
  padding: @gapExtraLarge 0;
  background-color: @lightColor;
}

figure,
canvas,
form,
p > img {
  margin: 0 0 @gap 0;
}

figure img + figcaption {
  margin: @gap 0 0;
}

header,
footer,
main,
.panel,
.billboard,
blockquote,
section {
  max-width: 100%;

  .layout:last-of-type > *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
}

section,
.billboard,
.panel {
  margin: 0;
  padding: @gapHuge 0;
}

.panel,
.billboard,
pre {
  background: @lightColor;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.billboard {
  padding: @gapGigantic 0;
  box-shadow: inset -2px 0 20px -6px rgba(0, 0, 0, 0.15),
  0px 3px 12px 0px rgba(0, 0, 0, 0.05);
  border-bottom: @gapXL solid @primaryColor;
}

.panel {
  margin: 0 @gap;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.025);
  max-width: @maxWidescreenWidth;
}

section .panel,
pre {
  padding: @gap;
  margin: 0;
  margin-bottom: @gap;
}

pre {
  overflow: auto;
  white-space:normal;

  code {
    white-space: pre-line;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    word-spacing: 0px;
    tab-size: 2;
    hyphens: none;

    &:before {
      counter-reset: listing;
    }

    span {
      display: block;
      counter-increment: listing;
      white-space: nowrap;
      padding-right: @gap;

      &:before {
        content: counter(listing, decimal-leading-zero) " ";
        display: inline-block;
        pointer-events: none;
        user-select: none;
        color: @primaryColor;
        border-right: 2px solid @primaryColor;
        margin-right: @gap;
        padding-right: @gap;
        text-align: right;
      }

      &:after {
        content: '';
        display: inline-block;
        pointer-events: none;
        user-select: none;
        padding-right: @gap;
      }
    }
  }
}

blockquote {
  background: @lightColor;
  padding: @gap;
}

section,
.panel,
figure {
  background-size: cover;
  background-position: center center;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid;
  opacity: 0.3;
}