header {
  padding: @gap 0;
  margin: 0;
}

footer {
  padding: @gapExtraLarge 0;
  background-color: @lightColor;
}

figure,
canvas,
form,
p > img {
  margin: 0 0 @gap 0;
}

figure img + figcaption {
  margin: @gap 0 0;
}

header,
footer,
main,
.panel,
.billboard,
blockquote,
section {
  max-width: 100%;

  .layout:last-of-type > *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
}

section,
.billboard,
.panel {
  margin: 0;
  padding: @gapHuge 0;
}

.panel,
.billboard,
pre,
.inner,
.masonry div,
[class*="col-"] {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.panel,
pre {
  background: @lightColor;
}

.billboard {
  position: relative;
  background-color: @lighterColor;
  padding: (@gapGigantic + @gapXL) 0;
  box-shadow: inset -2px 0 20px -6px rgba(0, 0, 0, 0.17);
  margin-bottom: @gapL;

  &:after {
    content: '';
    display: block;
    z-index: 5;
    position: absolute;
    bottom: -(@gapL);
    height: @gapL;
    width: 100%;
    background: linear-gradient(to right, @primaryColor, @altColor) left bottom no-repeat;
  }
}

.panel {
  margin: 0 @gap;
  max-width: @maxWidescreenWidth;
}

section .panel,
pre {
  padding: @gap;
  margin: 0;
  margin-bottom: @gap;
}

pre {
  overflow: auto;
  white-space:normal;

  code {
    white-space: pre-line;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    word-spacing: 0px;
    tab-size: 2;
    hyphens: none;

    &:before {
      counter-reset: listing;
    }

    span {
      display: block;
      counter-increment: listing;
      white-space: nowrap;
      padding-right: @gap;

      &:before {
        content: counter(listing, decimal-leading-zero) " ";
        display: inline-block;
        pointer-events: none;
        user-select: none;
        color: @primaryColor;
        border-right: 2px solid @primaryColor;
        margin-right: @gap;
        padding-right: @gap;
        text-align: right;
      }

      &:after {
        content: '';
        display: inline-block;
        pointer-events: none;
        user-select: none;
        padding-right: @gap;
      }
    }
  }
}

blockquote {
  background: @lightColor;
  padding: @gap;
}

section,
.panel,
figure {
  background-size: cover;
  background-position: center center;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -2px 0 20px -6px rgba(0, 0, 0, 0.17);
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid;
  opacity: 0.3;
}