a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  color: inherit;
  text-decoration: none;
}

a[href] {
  color: @linkColor;
  color: inherit;

  text-decoration-skip-ink: auto;

  [class*="fa-"] + span {
    margin-left: @gapS;
  }
}

a[href]:visited,
a[href]:hover,
a[href]:focus,
a[href]:active {
  text-decoration: none;
  outline: none;
}

a[href]:not(.btn):hover,
a[href]:not(.btn):focus {
  opacity: 0.6;
  text-decoration: underline;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

a,
a:not(.btn) > span,
button,
.btn,
[type="submit"] {
  cursor: pointer;
  transition: color .3s, opacity .3s, box-shadow .3s, border .3s, background .3s;
}

button,
[type="submit"] {
  appearance: none;
}

button,
.btn,
[type="submit"] {
  position: relative;
  cursor: pointer;

  background: @inputColor;
  color: inherit;
  border: 1px solid @inputBorderColor;
  border-radius: @inputRadius;
  outline: none;

  vertical-align: baseline;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: @gap;

  min-width: 64px;
  padding: (@gapXS) @gapL;
  font-size: @fontSizeSmall;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: @inputLetterSpacing;

  box-shadow: 3px 3px 3px rgba(0,0,0,0.04);

  @media @small-screen {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }

  [class*="fa-"] + span,
  span + [class*="fa-"] {
    margin-left: @gapS;
  }

  &.btn-primary {
    color: @lightestColor;
    background-color: @primaryColor;
    border-color: darken(@primaryColor, 4);
  }

  &.btn-secondary {
    color: @lightestColor;
    background-color: @secondaryColor;
    border-color: darken(@secondaryColor, 4);
  }

  &.btn-alt {
    color: @lightestColor;
    background-color: @altColor;
    border-color: darken(@altColor, 4);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @primaryColor;
    color: inherit;
    box-shadow: 3px 3px 3px rgba(0,0,0,0);

    &.btn-primary {
      background-color: fade(@primaryColor, 5);
      border-color: @primaryColor;
    }

    &.btn-secondary {
      background-color: fade(@secondaryColor, 5);
      border-color: @secondaryColor;
    }

    &.btn-alt {
      background-color: fade(@altColor, 5);
      border-color: @altColor;
    }
  }
}

button + button,
button + .btn,
.btn + button,
.btn + .btn {
  @media @small-screen {
    margin-left: @gapS;
  }
}

label {
  display: block;
  margin-bottom: @gap;
}

label .label {
  display: block;
  margin-bottom: @gapXS;
  letter-spacing: .5px;
  font-weight: 400;

  small {
    font-weight: @fontWeightThin;
    font-size: (@fontSize / 1.5);
    opacity: 0.6;
    text-transform: uppercase;
  }
}

input,
select,
textarea {
  font-family: inherit;
  max-width: 100%;
  background-color: @inputColor;
  border: thin solid @inputBorderColor;
  border-radius: @inputRadius;
  padding: @gapXS @gapS;
  color: @darkColor;
  vertical-align: middle;
  outline: none;

  font-size: @fontSizeFormInput; // stop zoom in on iOS
  line-height: inherit;

  transition: background .3s, border .3s;

  &:hover,
  &:focus,
  &:active {
    border-color: @primaryColor;
  }
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea {
  appearance: none;
}

textarea {
  min-height: @gapReallyBig;
}

label {
  input,
  button,
  select,
  textarea {
    width: 100%;
  }
}

select {
  appearance: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: right .55555556em center;
  background-size: .69444444em auto;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9ImFycm93LWRvd24tYmxhY2siIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDY0IDQwIj48ZyBvcGFjaXR5PSIwLjM1Ij48cGF0aCBkPSJNNjMuMzYsOC40N0wzMy40NywzOC4zNmEyLDIsMCwwLDEtMi45NSwwTDAuNjQsOC40N0EyLjIxLDIuMjEsMCwwLDEsMCw3LDIuMjEsMi4yMSwwLDAsMSwuNjQsNS41M0wzLjg1LDIuMzJhMi4wOSwyLjA5LDAsMCwxLDEuNDctLjY0LDIuMjEsMi4yMSwwLDAsMSwxLjQ3LjY0TDMyLDI3LjUyLDU3LjIsMi4zMmEyLDIsMCwwLDEsMi45NSwwbDMuMjEsMy4yMUEyLjIxLDIuMjEsMCwwLDEsNjQsNywyLjIxLDIuMjEsMCwwLDEsNjMuMzYsOC40N1oiIGZpbGw9IiMwMDAiLz48L2c+PC9zdmc+Cg==);
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  appearance: none;
  display: inline-block;
  width: @gap;
  height: @gap;
  margin-left: @gapXS;

  @media @max-medium-screen {
    border-color: darken(@lightColor, 20);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @primaryColor;
  }

  &:after {
    content: '';
    display: block;
    width: (@gap - 0.4rem);
    height: (@gapS - 0.3rem);
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: translateY(0.45rem) translateX(0.1rem) rotateZ(-45deg);
  }

  &:checked {
    &:after {
      border-color: @primaryColor;
    }
  }
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: @fontSizeSmall;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

::-webkit-input-placeholder {
  color: fade(@textColor, 60);
}
::-moz-placeholder {
  color: fade(@textColor, 60);
}
:-ms-input-placeholder {
  color: fade(@textColor, 60);
}
:-moz-placeholder {
  color: fade(@textColor, 60);
}