.layout,
.group,
.inner,
.panel,
.billboard {
  position: relative;
}

.layout {
  z-index: 2;
  display: block;
  max-width: 100%;
  width: @maxSiteWidth;
  padding: 0 @gap;
  margin: 0 auto;
  // overflow: hidden;

  .layout {
    margin: 0;
    padding: 0 0;
  }
}

.layout.layout-widescreen,
.layout .layout-widescreen {
  width: @maxWidescreenWidth;
}

.layout.layout-fluid,
.layout .layout-fluid {
  width: @maxFluidWidth;
}

.layout.layout-content,
.layout .layout-content {
  width: @maxFluidWidth;
  max-width: @maxTextWidth;
}

.inner {
  height: auto;
}

.group {
  display: flex;
  flex-wrap: wrap;

  margin-left: -@gapS;
  margin-right: -@gapS;

  padding-top: @gapS;
  padding-bottom: @gapS;

  &.group-stretch {
    margin-left: -@gap;
    margin-right: -@gap;
  }

  @media (max-width: 479px) {
    > div:last-child {
      margin-bottom: 0;
    }
  }
}

.group-center {
  align-items: center;
}

.group-shift-right {
  justify-content: flex-end;
}

.group-shift-center {
  justify-content: center;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  margin-bottom: 0;
  padding: @gapS @gapS;
}

[class*="col-"] > *:last-child,
[class*="col-"] > .inner > *:last-child {
  margin-bottom: 0;
}

.group .group {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: 480px) {
    [class*="col-sm-"] {
      padding-top: 0;
      padding-bottom:0 ;
    }
  }

  @media @medium-screen {
    [class*="col-md-"] {
      padding-top: 0;
      padding-bottom:0 ;
    }
  }

  @media (min-width: 1024px) {
    [class*="col-lg-"] {
      padding-top: 0;
      padding-bottom:0 ;
    }
  }
}

.generate-columns(@_n, @i: 1, @prefix: ~'') when (@i =< @_n) {
  @n: 12;

  .col-@{prefix}@{i} {
    flex: 0 0 (@i * 100% / @n);
    max-width: (@i * 100% / @n);
  }

  .offset-@{prefix}@{i} {
    margin-left: (@i * 100% / @n);
  }

  .offset-right-@{prefix}@{i} {
    margin-right: (@i * 100% / @n);
  }

  .push-@{prefix}@{i} {
    left: (@i * 100% / @n);
  }

  .pull-@{prefix}@{i} {
    left: -(@i * 100% / @n);
  }

  .width-@{prefix}@{i} {
    width: (@i * 100% / @n);
  }

  .max-width-@{prefix}@{i} {
    max-width: (@i * 100% / @n);
  }

  .generate-columns(@_n, (@i + 1), @prefix);
}

.generate-columns(16);

@media (min-width: 480px) {
  .generate-columns(16, 1, ~'sm-');
}

@media @max-medium-screen {
  .generate-columns(16, 1, ~'md-down-');
}

@media @medium-screen {
  .generate-columns(16, 1, ~'md-');
}

@media (min-width: 1024px) {
  .generate-columns(16, 1, ~'lg-');
}
