figure,
img,
iframe {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
}

figure,
figure img,
figure a {
  display: block;
}

canvas {
  display: block;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  width: 100% !important;
  height: auto !important;
}

.media {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  &.media-square {
    padding-top: 100%;
  }

  &.media-hd {
    padding-top: 56.25%;
  }

  .media-item,
  video,
  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.media-item,
video,
iframe,
embed,
object {
  &.media-overlay {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.media-cover-left {
      object-position: left;
    }

    &.media-cover-right {
      object-position: right;
    }
  }
}