html {
  font-size: 10px;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  direction: ltr;
  text-align: left;
}

@media @max-medium-screen {
  html {
    font-size: 8px;
  }
}

body {
  font-size: @fontSize;
  line-height: @lineHeight;
  font-style: normal;
  font-weight: @fontWeight;
  font-family: @bodyFont;
  color: @textColor;
}

footer {
  color: @mediumColor;
}

p,
pre,
blockquote,
address {
  margin: 0 0 @gap 0;
}

blockquote {
  font-style: italic;
}

address {
  font-style: normal;
  line-height: inherit;
}

pre {
  font-size: @fontSize;
  font-family: @monoFont;
}

small {
  font-size: @fontSizeSmall;
}

@media (max-width: 479px) {
  .mobile-small {
    font-size: @fontSizeSmall;
  }
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: @gap;
}

h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: @gap;
}

h1,
h2,
h3 {
  line-height: @lineHeightTitle;
  letter-spacing: .5px;
}

h1 {
  font-size: @gapXXXXL;
  font-weight: 500;
  font-family: @titleFont;
  // color: @titleColor;
}

h1 + p {
  font-size: @fontSizeLarge;
}

h2 {
  font-size: @gapXXL;
  font-weight: 500;
  font-family: @headerFont;
}

h3 {
  font-size: @gapXL;
  font-weight: 400;
  font-family: @headerFont;
}

h4 {
  font-size: @fontSizeLarge;
  font-weight: 400;
}

h5 {
  font-size: @fontSize;
  font-weight: 400;
  text-transform: uppercase;
}


abbr[title],
abbr[data-original-title] {
  cursor: help;
}