.generate-utils(@prefix: ~'') {
  .block@{prefix} {
    display: block;
  }

  .hidden@{prefix} {
    display: none;
  }

  .flex@{prefix} {
    display: flex;
  }

  .absolute@{prefix} {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
  }

  .sticky@{prefix} {
    position: sticky;
    z-index: 10;
    top: -1px; // sometimes there's a rendering issue with 0px
    left: 0;
    backface-visibility: hidden;
  }

  .fixed@{prefix} {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  .shadow@{prefix} {
    box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.1);
  }

  .text@{prefix}-lower {
    text-transform: lowercase;
  }

  .text@{prefix}-upper {
    text-transform: uppercase;
  }

  .text@{prefix}-underline {
    text-decoration: underline;
  }

  .text@{prefix}-smaller {
    font-size: @fontSizeSmall;
  }

  .text@{prefix}-regular {
    font-size: @fontSize;
  }

  .text@{prefix}-inherit {
    font-size: inherit;
  }

  .text@{prefix}-larger {
    font-size: @fontSizeLarge;
  }

  .text@{prefix}-left {
    text-align: left;
  }

  .text@{prefix}-right {
    text-align: right;
  }

  .text@{prefix}-center {
    text-align: center;
  }

  .align@{prefix}-left * {
    margin-left: 0;
    margin-right: auto;
  }

  .align@{prefix}-center * {
    margin-left: auto;
    margin-right: auto;
  }

  .align@{prefix}-right * {
    margin-left: auto;
    margin-right: 0;
  }

  .bg-anchor@{prefix}-center {
    background-position: center center;
  }

  .bg-anchor@{prefix}-top-left {
    background-position: left top;
  }

  .bg-anchor@{prefix}-bottom-left {
    background-position: left bottom;
  }

  .bg-anchor@{prefix}-top-right {
    background-position: right top;
  }

  .bg-anchor@{prefix}-bottom-right {
    background-position: right bottom;
  }
}

.generate-utils();

@media (min-width: 480px) {
  .generate-utils(~'-sm');
}

@media (min-width: 768px) {
  .generate-utils(~'-md');
}

@media (min-width: 1024px) {
  .generate-utils(~'-lg');
}

// -- Misc

.generate-utils-misc(@n, @i: 0, @prefix: ~'') when (@i =< @n) {
  .opacity-@{prefix}@{i} {
    opacity: (@i / @n);
  }

  .border-radius-@{prefix}@{i} {
    border-radius: (@i * @gapXL / @n)
  }

  .vh-@{prefix}@{i} {
    height: (@i * 100vh / @n)
  }

  .vw-@{prefix}@{i} {
    height: (@i * 100vw / @n)
  }

  .pt-@{prefix}@{i} {
    padding-top: (@gap * @i);
  }

  .pb-@{prefix}@{i} {
    padding-bottom: (@gap * @i);
  }

  .pr-@{prefix}@{i} {
    padding-right: (@gap * @i);
  }

  .px-@{prefix}@{i} {
    padding-left: (@gap * @i);
    padding-right: (@gap * @i);
  }

  .py-@{prefix}@{i} {
    padding-top: (@gap * @i);
    padding-bottom: (@gap * @i);
  }

  .mt-@{prefix}@{i} {
    margin-top: (@gap * @i);
  }

  .mb-@{prefix}@{i} {
    margin-bottom: (@gap * @i);
  }

  .mx-@{prefix}@{i} {
    margin-left: (@gap * @i);
    margin-right: (@gap * @i);
  }

  .my-@{prefix}@{i} {
    margin-top: (@gap * @i);
    margin-bottom: (@gap * @i);
  }

  .bg-size-@{prefix}@{i} {
    background-size: (@i * 100% / @n);
  }

  .generate-utils-misc(@n, (@i + 1), @prefix);
}

.generate-utils-misc(12);

@media (min-width: 480px) {
  .generate-utils-misc(12, 0, ~'sm-');
}

@media (min-width: 768px) {
  .generate-utils-misc(12, 0, ~'md-');
}

@media (min-width: 1024px) {
  .generate-utils-misc(12, 0, ~'lg-');
}

// -- Colors

@colors: ~"primary", ~"secondary", ~"alt", ~"lightest", ~"light", ~"medium", ~"darkest", ~"dark", ~"su", ~"important", ~"warning", ~"info", ~"transparent", ~"facebook", ~"twitter", ~"youtube", ~"instagram", ~"spotify";

.generate-colors(@n, @i: 1) when (@i =< @n) {
  @colorName: extract(@colors, @i);
  @_color: "@{colorName}Color";
  @color: @@_color;

  .bg-@{colorName} {
    background-color: @color;
  }

  .border-@{colorName} {
    border-color: @color;
  }

  .notch-@{colorName} {
    border-left: @gapS solid @color;
  }

  .text-@{colorName},
  a[href].text-@{colorName} {
    color: @color !important;
  }

  .generate-colors(@n, (@i + 1));
}

.generate-colors(length(@colors));