// -- Responsiveness

@handheld-portrait__min-width  : 320px;
@handheld-portrait__max-width  : (@handheld-portrait__min-width - 1px);
@handheld-x__min-width         : 375px;
@handheld-x__max-width         : (@handheld-x__min-width - 1px);
@handheld-plus__min-width      : 414px;
@handheld-plus__max-width      : (@handheld-plus__min-width - 1px);
@handheld-landscape__min-width : 560px;
@handheld-landscape__max-width : (@handheld-landscape__min-width - 1px);
@tablet-portrait__min-width    : 768px;
@tablet-portrait__max-width    : (@tablet-portrait__min-width - 1px);
@tablet-landscape__min-width   : 1024px;
@tablet-landscape__max-width   : (@tablet-landscape__min-width - 1px);
@tablet-plus__min-width        : 1024px;
@tablet-plus__max-width        : (@tablet-landscape__min-width - 1px);
@desktop-regular__min-width    : 1280px;
@desktop-regular__max-width    : (@desktop-regular__min-width - 1px);
@laptop-regular__min-width     : 1366px;
@laptop-regular__max-width     : (@desktop-regular__min-width - 1px);
@desktop-medium__min-width     : 1440px;
@desktop-medium__max-width     : (@desktop-medium__min-width - 1px);
@desktop-large__min-width      : 1680px;
@desktop-large__max-width      : (@desktop-large__min-width - 1px);
@desktop-xlarge__min-width     : 1920px;
@desktop-xlarge__max-width     : (@desktop-xlarge__min-width - 1px);
@desktop-qhd__min-width        : 2560px;
@desktop-qhd__max-width        : (@desktop-xlarge__min-width - 1px);
@desktop-uhd__min-width        : 3840px;
@desktop-uhd__max-width        : (@desktop-xlarge__min-width - 1px);

@handheld                      : ~'screen and (min-width: @{handheld-portrait__min-width})';
@handheld-plus                 : ~'screen and (min-width: @{handheld-plus__min-width})';
@handheld-landscape            : ~'screen and (min-width: @{handheld-landscape__min-width})';
@tablet                        : ~'screen and (min-width: @{tablet-portrait__min-width})';
@tablet-landscape              : ~'screen and (min-width: @{tablet-landscape__min-width})';
@desktop                       : ~'screen and (min-width: @{desktop-regular__min-width})';
@desktop-medium                : ~'screen and (min-width: @{desktop-medium__min-width})';
@desktop-large                 : ~'screen and (min-width: @{desktop-large__min-width})';
@desktop-xlarge                : ~'screen and (min-width: @{desktop-xlarge__min-width})';

@max-handheld                  : ~'screen and (max-width: @{handheld-portrait__max-width})';
@max-handheld-plus             : ~'screen and (max-width: @{handheld-plus__max-width})';
@max-handheld-landscape        : ~'screen and (max-width: @{handheld-landscape__max-width})';
@max-tablet                    : ~'screen and (max-width: @{tablet-portrait__max-width})';
@max-tablet-landscape          : ~'screen and (max-width: @{tablet-landscape__max-width})';
@max-desktop                   : ~'screen and (max-width: @{desktop-regular__max-width})';
@max-desktop-medium            : ~'screen and (max-width: @{desktop-medium__max-width})';
@max-desktop-large             : ~'screen and (max-width: @{desktop-large__max-width})';
@max-desktop-xlarge            : ~'screen and (max-width: @{desktop-xlarge__max-width})';

@small-screen__min-width       : @handheld-landscape__min-width;
@medium-screen__min-width      : @tablet-portrait__min-width;
@large-screen__min-width       : @desktop-regular__min-width;
@xlarge-screen__min-width      : @desktop-large__min-width;

@small-screen__max-width       : @handheld-landscape__max-width;
@medium-screen__max-width      : @tablet-portrait__max-width;
@large-screen__max-width       : @desktop-regular__max-width;
@xlarge-screen__max-width      : @desktop-large__max-width;

@small-screen                  : ~'screen and (min-width: @{small-screen__min-width})';
@medium-screen                 : ~'screen and (min-width: @{medium-screen__min-width})';
@large-screen                  : ~'screen and (min-width: @{large-screen__min-width})';
@xlarge-screen                 : ~'screen and (min-width: @{xlarge-screen__min-width})';

@max-small-screen              : ~'screen and (max-width: @{small-screen__max-width})';
@max-medium-screen             : ~'screen and (max-width: @{medium-screen__max-width})';
@max-large-screen              : ~'screen and (max-width: @{large-screen__max-width})';
@max-xlarge-screen             : ~'screen and (max-width: @{xlarge-screen__max-width})';

// -- Layout

@maxTextWidth: 820px;
@maxSiteWidth: 1100px;
@maxWidescreenWidth: 1440px;
@maxFluidWidth: 100%;

@inputRadius: 5px;
@inputBorderColor: rgba(0,0,0,0.1);
@inputLetterSpacing: 0.2rem;

@gapXS: 0.45rem;
@gapS: 0.9rem;
@gap: 1.8rem;
@gapL: 2.7rem;
@gapXL: 3.6rem;
@gapXXL: 4.5rem;
@gapXXXL: 5.4rem;
@gapXXXXL: 6.3rem;
@gapXXXXXL: 7.2rem;
@gapXXXXXXL: 8.1rem;
@gapXXXXXXXL: 9rem;
@gapXXXXXXXXL: 9.9rem;

@gapMedium: @gapXL;
@gapLarge: @gapXXXL;
@gapExtraLarge: @gapXXXXXXXL;
@gapHuge: (@gap * 6);
@gapGigantic: (@gap * 12);

// -- Typography

@fontWeight: 400;
@fontWeightThin: 300;
@fontSize: @gap;
@fontSizeFormInput: 16px; // 1.6rem
@fontSizeSmaller: 1rem;
@fontSizeSmall: 1.4rem;
@fontSizeLarge: 2.2rem;

@lineHeight: 1.6;
@lineHeightTitle: 1.2;

@baseFont: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@bodyFont: @baseFont;
@headerFont: @baseFont;
@titleFont: @baseFont;
@monoFont: monospace;

// -- Colours

@blue               :     #007bff;
@indigo             :     #6610f2;
@purple             :     #6f42c1;
@pink               :     #fbd1cc;
@red                :     #dc3545;
@rose               :     #ff6161;
@orange             :     #fd7e14;
@yellow             :     #ffe35c;
@gold               :     #ffbf02;
@green              :     #28a745;
@teal               :     #20c997;
@lime               :     #c9f78b;
@cyan               :     #17a2b8;

@white              :     #ffffff;
@black              :     #000000;
@slate              :     #2b2b2b;
@charcoal           :     #666;
@ash                :     #f3f1ee;

@backgroundColor: @lightestColor;
@primaryColor: @blue;
@secondaryColor: #36356f;
@altColor: darken(@primaryColor, 20);

@transparentColor: transparent;
@importantColor: @red;
@warningColor: @yellow;
@infoColor: @teal;

@darkestColor: @black;
@darkerColor: #333333;
@darkColor: @slate;
@mediumColor: @charcoal;
@lightColor: @ash;
@lighterColor: #fafafa;
@lightestColor: @white;

@textColor: @mediumColor;
@titleColor: @darkColor;
@linkColor: #4285F4;

// -- Brands

@facebookColor      :     rgb(059, 089, 152);
@twitterColor       :     rgb(000, 170, 239);
@tumblrColor        :     rgb(052, 082, 111);
@linkedinColor      :     rgb(000, 123, 182);
@googleplusColor    :     rgb(222, 075, 052);
@pinterestColor     :     rgb(203, 032, 039);
@instagramColor     :     rgb(063, 114, 155);
@youtubeColor       :     rgb(196, 048, 043);
@vimeoColor         :     rgb(068, 187, 255);
@spotifyColor       :     rgb(129, 183, 026);
@suColor            :     rgb(169, 152, 124);

