// -- Layout

@maxTextWidth: 820px;
@maxSiteWidth: 1100px;
@maxWidescreenWidth: 1320px;
@maxFluidWidth: 100%;

// https://material.io/devices/
@maxTabletPlusWidth: 1023px; // iPad Pro
@maxTabletWidth: 767px; // iPad & iPad Mini
@maxHandheldPlusWidth: 413px; // iPhone 8 Plus
@maxHandheldWidth: 374px; // iPhone X

@radius: 5px;

@gapXS: 0.45rem;
@gapS: 0.9rem;
@gap: 1.8rem;
@gapL: 2.7rem;
@gapXL: 3.6rem;
@gapXXL: 4.5rem;
@gapXXXL: 5.4rem;
@gapXXXXL: 6.3rem;
@gapXXXXXL: 7.2rem;
@gapXXXXXXL: 8.1rem;
@gapXXXXXXXL: 9rem;
@gapXXXXXXXXL: 9.9rem;

@gapMedium: @gapXL;
@gapLarge: @gapXXXL;
@gapExtraLarge: @gapXXXXXXXL;
@gapHuge: 13.5rem;
@gapGigantic: 22.5rem;

// -- Typography

@fontWeight: 400;
@fontSize: @gap;
@fontSizeSmall: 1.4rem;
@lineHeight: 1.4;

// -- Colours

@backgroundColor: @lightestColor;
@primaryColor: @blue;
@secondaryColor: @purple;
@altColor: darken(@blue, 20%);

@importantColor: @red;
@warningColor: @yellow;
@infoColor: @teal;

@darkestColor: #000;
@darkColor: #383D49;
@mediumColor: #666;
@lightColor: #f0f0f0;
@lightestColor: #ffffff;

@textColor: @darkColor;
@titleColor: @darkColor;
@linkColor: #4285F4;

@blue               :     #007bff;
@indigo             :     #6610f2;
@purple             :     #6f42c1;
@pink               :     #e83e8c;
@red                :     #dc3545;
@orange             :     #fd7e14;
@yellow             :     #ffc107;
@green              :     #28a745;
@teal               :     #20c997;
@cyan               :     #17a2b8;

@facebookColor      :     rgb(059, 089, 152);
@twitterColor       :     rgb(000, 170, 239);
@tumblrColor        :     rgb(052, 082, 111);
@linkedinColor      :     rgb(000, 123, 182);
@googleplusColor    :     rgb(222, 075, 052);
@pinterestColor     :     rgb(203, 032, 039);
@instagramColor     :     rgb(063, 114, 155);
@youtubeColor       :     rgb(196, 048, 043);
@vimeoColor         :     rgb(068, 187, 255);
@spotifyColor       :     rgb(129, 183, 026);
@studiouniverseColor:     rgb(255, 250, 110);

// -- Typography

@baseFont: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, 'Lato', "Helvetica Neue", Arial, sans-serif;
@bodyFont: @baseFont;
@headerFont: 'Rubik', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, 'Lato', "Helvetica Neue", Arial, sans-serif;
@titleFont: 'Rubik', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, 'Lato', "Helvetica Neue", Arial, sans-serif;