
// -- Faders

[data-fade-in] {
  position: relative;
  opacity: 0;
  transform: translateY(@gapXXXL);
  backface-visibility: hidden;

  &.fading {
    transition: transform .8s, opacity .8s;
    opacity: 1;
    transform: translateY(0);
  }

  &[data-fade-in="rtl"] {
    transform: translateX(@gapXXXL);

    &.fading {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &.faded {
    transition: none;
  }
}

[data-mask-in] {

}

[data-grow-in] {

}

// -- Editorial

.editorial {
  position: relative;

  @media @medium-screen {
    .editorial-article-bg {
      content: '';
      position: absolute;
      z-index: 1;
      top: @gapS;
      bottom: (@gapXXXL + @gapS);
      left: 0%;
      width: 50%;
      height: auto;
      background-color: @lightestColor;
    }

    .editorial-aside-bg {
      content: '';
      position: absolute;
      top: @gapXXXXL;
      bottom: @gapS;
      left: auto;
      width: 40%;
      right: 0;
      height: auto;
      background-color: @lightColor;
      border-bottom-left-radius: @inputRadius;
    }
  }

  .group {
    .article {
      z-index: 2;
      background-color: @lightestColor;
      box-shadow: 6px 3px 4px rgba(0,0,0,.01);
      margin: 0 auto;

      article {
        position: relative;
        z-index: 2;
        padding: @gap;

        p {
          line-height: 1.8;
        }
      }

      @media @max-medium-screen {
        flex: 0 0 ~"calc(100% - @{gap})";
        border-top-left-radius: @inputRadius;
        border-top-right-radius: @inputRadius;
      }

      @media @medium-screen {
        margin: 0;

        border-top-right-radius: @inputRadius;
        border-bottom-right-radius: @inputRadius;

        margin-bottom: @gapXXXL;

        article {
          padding: @gapXL @gapL;
        }
      }
    }

    .aside {
      background-color: @lightColor;
      margin: 0 auto;

      aside {
        padding: @gap;
      }

      @media @max-medium-screen {
        flex: 0 0 ~"calc(100% - @{gap})";
        border-bottom-left-radius: @inputRadius;
        border-bottom-right-radius: @inputRadius;
      }

      @media @medium-screen {
        margin: 0;
        margin-top: @gapXXXL;

        aside {
          padding: @gap @gapL;
        }
      }
    }
  }
}

// -- Masonry group

.masonry {
  .group {
    flex-direction: column;

    @media @medium-screen {
      justify-content: center;
      align-items: center;
      height: 120vw;
      max-height: @maxWidescreenWidth;
    }

    > * {
      padding: @gapS;
      margin-bottom: 0;
      min-height: 30vh;

      @media @max-medium-screen {
        &:nth-child(3n) {
          order: 4;
        }
      }

      @media @medium-screen {
        width: 50%;
        height: auto;
        margin-bottom: 0;

        flex-basis: 42%;

        &:nth-child(3n+1) {
          flex-basis: 58%;
        }
      }

      @media (min-width: 1024px) {
        flex-basis: 45%;

        &:nth-child(3n+1) {
          flex-basis: 55%;
        }
      }
    }
  }
}

// -- Horizontal layout

.layout-horizontal {
  .group {
    cursor: -webkit-grab;
    cursor: grab;
    padding-top: @gapL;
    padding-bottom: @gapL;
    margin-left: -@gap;
    margin-right: -@gap;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &.scrolling {
      cursor: grabbing;
    }

    [class*="col-"] {
      display: block;
      position: relative;
      max-width: none;

      touch-action: none !important;
      user-select: none !important;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;

      .inner {
        border-radius: @inputRadius;
        padding: @gapHuge @gap;
      }

      &:first-child {
        padding-left: @gap;
      }

      &:last-child {
        padding-right: @gap;
      }
    }
  }
}

// -- Carousel

.carousel {
  .group {
    [class*="col-"] {
      position: relative;
      min-height: 48vh;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;

      .slide {
        position: absolute;
        top: 0;
        bottom: 0;
        left: @gapS;
        right: @gapS;
        width: auto;
        height: auto;
        margin: auto;
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: @lightColor;
        opacity: 0;
        transition: opacity .6s;
        backface-visibility: hidden;

        border-radius: @inputRadius;
        box-shadow: 5px 5px 15px rgba(0,0,0,.2);

        &.active {
          opacity: 1;
          z-index: 4;
        }
      }

      &:first-child {
        margin-bottom: @gap;
      }

      @media @medium-screen {
        height: 60vw;
        max-height: (@gapGigantic * 2.75);

        &:first-child {
          margin-bottom: 0;

          .slide {
            left: @gapS;
          }
        }

        &:last-child {
          .slide {
            right: @gapS;
          }
        }
      }

      .carousel-controls-dots {
        position: absolute;
        bottom: @gap;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 5;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: center;

          li {
            display: inline-block;
            margin-right: @gap;
            height: @fontSizeFormInput;
            width: @fontSizeFormInput;
            background-color: @mediumColor;
            border-radius: 100%;
            cursor: pointer;

            transition: border .4s, background .4s;

            &:last-child {
              margin-right: 0;
            }

            &.active {
              background-color: transparent;
              border: 2px solid @mediumColor;
            }
          }
        }
      }

      .carousel-arrow-left,
      .carousel-arrow-right {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: @gapXL;
        margin: auto;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        cursor: pointer;
      }

      .carousel-arrow-left {
        left: @gap;
      }

      .carousel-arrow-right {
        right: @gap;
      }
    }
  }
}